<% include partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Tipperary</h1>
      <p>The Best Bars in the World</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/bars/new">Add a New Bar</a>
      </p>
    </div>
  </header>


  <div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% bars.forEach((bar) => { %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img src="<%= bar.image %>">
          <div class="caption">
            <h4><%= bar.name %></h4>
          </div>
          <p>
            <a class="btn btn-primary" href="/bars/<%= bar._id %>">More Info</a>
          </p>
        </div>
      </div>
    <% }); %>
  </div>
</div>

<% include partials/footer %>
