<% include partials/header %>

<h1>Add a new Bar</h1>

<form action="/bars" method="post">
  <input type="text" placeholder='Name' name='name'>
  <input type="text" placeholder='Image URL' name='image'>
  <button>Submit</button>  
</form>

<% include partials/footer %>